.okayNav {
    background-color: #663f73;/*rgba(255, 255, 255, 0)*/
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem; /*7%*/
    padding: 15px 0;
    text-align: left;
}

.nav-title {
    font-family: swissraNor;
    color: #ffffff;
    position: absolute;
    right: 10px;
    width: 80%;
    text-align: right;
    display: block;
}

@media screen and (max-width: 335px) {
    .nav-title {
        right: 10px;
        font-size: 14px;
    }
}

.nav-arrow {
    color: #ffffff;
    position: absolute;
    left: 10px;
}

.pinning-nav {
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
    transition: 1s all;
    z-index: 10;
}

.pinning-nav.pinned {
    background-color: #663f73;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

.pinning-nav.unpinned {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.pinning-nav.pinning-top {
    background-color: #663f73;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}
