@font-face {
    src: url(../fonts/Droid.ttf);
    font-family: Droid;
}

@font-face {
    src: url(../fonts/FFHekaya-Light.otf);
    font-family: FFHekaya;
}

@font-face {
    src: url(../fonts/Questv1-Regular.otf);
    font-family: questv1;
}

@font-face {
    src: url(../fonts/Swissra-Normal.otf);
    font-family: swissraNor;
}


$mainColor: #70b29c;
$lightBackground: #e6e6e6;
$whiteColor: #ffffff;
$blackColor: #000000;


body {
    background-color: $lightBackground;
    direction: ltr;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Droid;
    font-size: 16px;
}

.bodyColorMain{
  background-color: $mainColor;
}

a:hover,
a {
    list-style: none;
    text-decoration: none;
}




.space{
  padding: 5px 0;
  width: 100%
}
.barnd-name {
    color: $whiteColor;
    font-family: FFHekaya;
    font-size: 45px;
    user-select: none;
}

.barnd-name2 {
    color: $whiteColor;
    font-family: swissraNor;
    font-size: 16px;
    margin-top: -20px;
    user-select: none;
}

.barnd-slogan {
    color: $whiteColor;
    font-family: swissraNor;
    font-size: 14px;
    margin-top: -10px;
    user-select: none;
    text-shadow:  #3a2442 1px 1px;
}

.iconeHome {
    position: absolute;
    left: 10px;
    color: $whiteColor;
    font-size: 25px
}

.sectionIndex {
    background-color: $whiteColor;
    position: relative;
    width: 93%;
    border-radius: 5px;
    font-family: swissraNor;
    text-align: right;
    margin-bottom: 20px;
}

.sIndexMarg{
  margin-bottom: -10px;
}
.sectionColor , .sectionColor:hover{
    color: $blackColor;
}

.titlesCol {
    background-color: hsl(0, 0%, 98%);
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin-bottom: 1px;
    margin-top: 1px;
    direction: rtl;
    user-select: none;
}
@media screen and (max-width: 335px) {
.titlesCol{
  font-size: 12px;
}
}
.titlesNum{
  background-color: $mainColor;
  color: $whiteColor;
  border-radius: 3px;
  padding: 5px;
  margin-left: 15px;
  font-family: sans-serif;
  font-size: 12px;
}

.titlesNum2{
  background-color: $mainColor;
  color: $whiteColor;
  border-radius: 3px;
  padding: 3px;
  margin-left: 10px;
  margin-right: -2px;
  font-family: sans-serif;
  font-size: 12px;
}



.mainContents {
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px
}

.sectionContents {
    background-color: $whiteColor;
    height: auto;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.sectionContents p {
    direction: rtl;
    text-align: justify;
    word-wrap: break-word;
    line-height: 1.7;
}


.titleLink{
  color: #3366cc;
  text-align: right;
  font-size: 16px;
  font-family: questv1;
  text-align: right;
  word-wrap:normal;
  line-height: 1;
}

/* Tilte Color ****************** */

.titleS1 {
    color: #4ba6f5;
    font-family: swissraNor;
    font-weight: bold;
}

.titleS2 {
    color: #7b868a;
    font-family: swissraNor;
    font-weight: bold;
}

.titleS3 {
    color: #fdca30;
    font-family: swissraNor;
    font-weight: bold;
}

.poetry {
    font-style: italic;
}


.okayNav {
    background-color: #70b29c;/*rgba(255, 255, 255, 0)*/
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem; /*7%*/
    padding: 15px 0;
    text-align: left;
    z-index: 9999;
}

.nav-title {
    font-family: swissraNor;
    color: #ffffff;
    position: absolute;
    right: 10px;
    width: 80%;
    text-align: right;
    display: block;
}

@media screen and (max-width: 335px) {
    .nav-title {
        right: 10px;
        font-size: 14px;
    }
}

.nav-arrow {
    color: #ffffff;
    position: absolute;
    left: 10px;
}